doctype html
html
  head
    title TravelMe - #{title}
    
    include stylesheet

  body
    include header

    // Import content here
    block content
    
    // Import footer here
    include footer

    include script