link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
// Font Awesome
link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
// Ionicons
link(rel="stylesheet" href="/Ionicons/css/ionicons.min.css")
// Theme style
link(rel="stylesheet" href="/css/travelme.min.css")
link(rel="stylesheet" href="/css/skins/_all-skins.min.css")
// Morris chart
link(rel="stylesheet" href="/bower_components/morris.js/morris.css")
// jvectormap
link(rel="stylesheet" href="/bower_components/jvectormap/jquery-jvectormap.css")
// Date Picker
link(rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css")
// Daterange picker
link(rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css")
// Link font google
link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic")