doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title TravelMe | Log in
    // Tell the browser to be responsive to screen width
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
    // Bootstrap 3.3.7
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
    // Font Awesome
    link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
    // Ionicons
    link(rel="stylesheet" href="/Ionicons/css/ionicons.min.css")
    // Theme style
    link(rel="stylesheet" href="/css/travelme.min.css")
    // iCheck
    link(rel="stylesheet" href="/iCheck/square/blue.css")
    
    // Google Font
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic")

body.hold-transition.login-page
  .login-box
        .login-logo
          a(href=".")
            b Admin
            | LTE
        // /.login-logo
        .login-box-body
          p.login-box-msg Sign in to start your session
          include messages/messages
          form(method="post" onSubmit={function(e) { e.preventDefault(); this.submit('/user/register')}})
            .form-group.has-feedback
              input.form-control(type="email" placeholder="Email")
              span.glyphicon.glyphicon-envelope.form-control-feedback
            .form-group.has-feedback
              input.form-control(type="password" placeholder="Password")
              span.glyphicon.glyphicon-lock.form-control-feedback
            .row
              .col-xs-8
                .checkbox.icheck
                  label
                    input(type="checkbox")
                    |  Remember Me
              // /.col
              .col-xs-4
                button.btn.btn-primary.btn-block.btn-flat(type="submit") Sign In
              // /.col
          .social-auth-links.text-center
            p - OR -
            a.btn.btn-block.btn-social.btn-facebook.btn-flat(href="#")
              i.fa.fa-facebook
              |  Sign in using
              |         Facebook
            a.btn.btn-block.btn-social.btn-google.btn-flat(href="#")
              i.fa.fa-google-plus
              |  Sign in using
              |         Google+
          // /.social-auth-links
          a(href="#") I forgot my password
          br
          a.text-center(href="/user/register") Register a new membership
        // /.login-box-body

  script(src="/jquery/dist/jquery.min.js")
    // jQuery UI 1.11.4
    script(src="/jquery-ui/jquery-ui.min.js")
    // Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
    script.
      $.widget.bridge('uibutton', $.ui.button);
    // Bootstrap 3.3.7
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    // Morris.js charts
    script(src="/raphael/raphael.min.js")
    script(src="/morris.js/morris.min.js")
    // Sparkline
    script(src="/jquery-sparkline/dist/jquery.sparkline.min.js")
    // jvectormap
    script(src="/jvectormap/jquery-jvectormap-1.2.2.min.js")
    script(src="/jvectormap/jquery-jvectormap-world-mill-en.js")
    // jQuery Knob Chart
    script(src="/jquery-knob/dist/jquery.knob.min.js")
    // daterangepicker
    script(src="/moment/min/moment.min.js")
    script(src="/bootstrap-daterangepicker/daterangepicker.js")
    // datepicker
    script(src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
    // Bootstrap WYSIHTML5
    script(src="/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
    // Slimscroll
    script(src="/jquery-slimscroll/jquery.slimscroll.min.js")
    // FastClick
    script(src="/fastclick/lib/fastclick.js")
    script(src="/js/travelme.js")