doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title TravelMe | Log in
    // Tell the browser to be responsive to screen width
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
    
    // Bootstrap 3.3.7
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
    // Font Awesome
    link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
    // Ionicons
    link(rel="stylesheet" href="/Ionicons/css/ionicons.min.css")
    // Theme style
    link(rel="stylesheet" href="/css/travelme.min.css")
    // iCheck
    link(rel="stylesheet" href="/iCheck/square/blue.css")
    
    // Google Font
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,400i,600,600i,700")

body.hold-transition.login-page
  .login-box
        .login-logo
          a(href=".")
            b Admin
            | LTE
        // /.login-logo
        .login-box-body
          p.login-box-msg Sign in to start your session
          include messages/messages
          form(method="post")
            .form-group.has-feedback
              input.form-control(type="email" name="email" placeholder="Email")
              span.glyphicon.glyphicon-envelope.form-control-feedback
            .form-group.has-feedback
              input.form-control(type="password" name="password" placeholder="Password")
              span.glyphicon.glyphicon-lock.form-control-feedback
            .row
              .col-xs-8
                .checkbox.icheck
                  label
                    input(type="checkbox" class="icheck")
                    |  Remember Me
              // /.col
              .col-xs-4
                button.btn.btn-primary.btn-block.btn-flat(type="submit") Sign In
              // /.col
          .social-auth-links.text-center
            p - OR -
            a.btn.btn-block.btn-social.btn-facebook.btn-flat(href="/user/auth/facebook")
              i.fa.fa-facebook
              |  Sign in using
              |         Facebook
            a.btn.btn-block.btn-social.btn-google.btn-flat(href="#")
              i.fa.fa-google-plus
              |  Sign in using
              |         Google+
          // /.social-auth-links
          a(href="#") I forgot my password
          br
          a.text-center(href="/user/register") Register a new membership
        // /.login-box-body

  // script
  script(src="/jquery/dist/jquery.min.js")

  script(src="/bootstrap/dist/js/bootstrap.min.js")

  script(src="/iCheck/icheck.min.js")
  script(src="/js/main.js")
  script.
    if (window.location.hash == '#_=_') {
      window.location.hash = ''; // for older browsers, leaves a # behind
      history.pushState('', document.title, window.location.pathname); // nice and clean
      e.preventDefault(); // no page reload
    }